= render "header"
.main
  .main-wrapper
  .main-wrapper__text もう一度呑みたいお酒
.search
  .words-search
    .words-search__content 
      %h2 銘柄で探す
    .words-search__input-box
      = form_tag(root_path, method: :get) do
        = text_field_tag :search, params[:search], class: "input-form", placeholder: "［例：八海山］"
        = submit_tag '検索', name: nil, class: "search-btn"
  .area-search
    %h2.area-search__title 地域で探す
    .area-search__left
      .pref-name 北海道・東北
      .pref-name_lists
        %ul
          %li 北海道
          %li 青森
          %li 秋田
          %li 山形
          %li 岩手
          %li 宮城
          %li 福島
      .pref-name 中部
      .pref-name_lists
        %ul
          %li 愛知
          %li 岐阜
          %li 静岡
          %li 三重
          %li 新潟
          %li 山梨
          %li 長野
          %li 石川
          %li 富山
          %li 福井
      .pref-name 中国・四国
      .pref-name_lists
        %ul
          %li 岡山
          %li 広島
          %li 鳥取
          %li 島根
          %li 山口
          %li 香川
          %li 徳島
          %li 愛媛
          %li 高知
    .container__area-search__right
      .pref-name 関東
      .pref-name_lists
        %ul
          %li 東京
          %li 神奈川
          %li 埼玉
          %li 千葉
          %li 栃木
          %li 茨城
          %li 群馬
      .pref-name 関西
      .pref-name_lists
        %ul
          %li 大阪
          %li 兵庫
          %li 京都
          %li 滋賀
          %li 奈良
          %li 和歌山
      .pref-name 九州・沖縄
      .pref-name_lists
        %ul
          %li 福岡
          %li 佐賀
          %li 長崎
          %li 熊本
          %li 大分
          %li 宮崎
          %li 鹿児島
          %li 沖縄
%footer
  .copy
    %a Copyright (c) Shoko. All Rights Reserved.