.feelings-form.feilds
  = form_for [@brand, @feeling] do |f|
    .feelings-form__comment
      = f.label :comment, "コメント", class: "form-title"
      = f.text_area :comment
    .feelings-form__submit
      = f.submit '感想を残す', class: "submit-btn"
