.top-search {
  box-sizing: border-box;
  padding-bottom: 100px;
  .main {
    width: 100%;
    height: 500px;
    position: relative;
    padding-top: 52px;
    .main-wrapper {
      background-image: url('top02-min.jpg');
      background-size: cover;
      height: 100%;
      opacity: 0.7;
      &__text {
        writing-mode: vertical-rl;
        letter-spacing: 0.15em;
        text-shadow: 2px 2px 2px #ffffff;
        font-weight: bold;
        font-size: 20px;
        color: #212121;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }

  .search {
    position: relative;
    padding-bottom: 72px;
    border-top: gray 1px solid;
    .words-search {
      display: inline-block;
      width: 660px;
      height: 80px;
      background-color: $color-white;
      border: 1px solid gray;
      position: absolute;
      top: -55px;
      padding: 20px;
      line-height: 80px;
      left: 50%;
      transform: translate(-50%,-0%);
      form {
        position: relative;
      }
      &__content {
        font-size: 18px;
        width: 108px;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
        h2 {
        font-family: $font-gothic;
        }
      }
      &__input-box {
        border-radius: 3px;
        width: calc(100%-108px);
        display: flex;
        ::placeholder {
          color: #999999;
          font-size: 14px;
          padding: 0 8px;
        }
        .input-form {
          border: solid 1px gray;
          border-radius: 3px;
          height: 42px;
          width: 440px;
          padding: 0 8px;
        }
        .search-btn {
          font-size: 18px;
          font-family: $font-gothic;
          color: $color-white;
          border: none;
          border-radius: 3px;
          background-color: $color-red;
          padding: 8px 20px;
          margin-left: 10px;
          &:hover { 
            cursor: pointer;
          }
        }
      }
    }
  }
  
  .words-search-result {
    padding: 88px 10px 30px 10px;
    width: 80%;
    margin: 0 auto;
    #words-search-result {
    max-height: 50vh;
    overflow: scroll;
    margin-top: 10px;
    background-color: #eee;
    padding: 16px 20px 16px;
    border-top: 6px $color-red solid;
    border-bottom: 6px $color-red solid;
    position: relative;
      // &:after {
      //   content: "検索結果";
      //   font-family: $font-gothic;
      //   font-size: 16px;
      //   position: absolute;
      //   top: 0;
      //   left: 22px;
      //   padding: 10px 0;
      // }
    }
    &__title {
      font-size: 18px;
      font-family: $font-gothic;
    }
    .suggest-word {
      padding: 12px 0px;
      margin: 12px 0;
      border-bottom: 1px solid $color-red;
      position: relative;
      min-height: 142px;
      width: 100%;
      min-width: 400px;
      &:last-child {
        border-bottom: none;
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        &:hover {
          opacity: 0.7;
        }
      }
      &__content {
        width: 48%;
        &__name {
          color: #434343;
          font-weight: bold;
          &:visited, :link {
            color: #434343;
          }
        }
        &__right {
          position: absolute;
          display: block;
          top: 0;
          right: 0;
          img {
            width: 150px;
            height: 150px;
            object-fit: cover;
          }
        }
      }
    }
  }

  .area-search {
    padding: 36px 10px 30px 10px;
    width: 80%;
    margin: 0 auto;
    &__title {
      font-size: 18px;
      font-family: $font-gothic;
    }
    &__left {
      float: left;
      width: 50%;
    }
    &__right {
      float: left;
      width: 50%;
    }
    .pref-name {
      width: 100%;
      font-size: 1em;
      padding: 18px 0 12px;
      font-weight: bold;
      color: $color-red;
    }
    .pref-name_lists {
      font-size: 0.9em;
      li {
        display: inline-block;
        margin-right: 6px;
        &:hover {
          color: $color-blue;
        }
      }
    }
  }

}
