= render "shared/header"
- breadcrumb :brewages_new, @brand
= render partial: 'shared/breadcrumbs'
.container
  .brewages-new
    .brewages-new__title
      #{@brand.name}の種類 / 特定名称酒を追加する
      .brewages-new__form
        = render "form"