= render "shared/header"
.container
  - breadcrumb :brewage_new, @brand
  = render partial: 'shared/breadcrumbs'
  .brewages-new
    .brewages-new__title
      #{@brand.name}の種類 / 特定名称酒を追加する
      .brewages-new__form
        = render "form"