= render "shared/header"
- breadcrumb :brewages_new, @brand
= render partial: 'shared/breadcrumbs'
.container
  .brewages-new
    .brands-new__content.single-column
      .brewages-new__title
        %h2 #{@brand.name}の種類 / 特定名称酒を追加する
        .brewages-new__form.single-column__form
          = render "form"