div, p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

body {
  background-color: $color-white;
  color: $color-black;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  height: 32px;
  width: 100%;
  background-color: $color-black;
  color: $color-white;
  padding: 10px 0;
  &__left {
    font-size: 24px;
    line-height: 32px;
    float: left;
    padding: 0 20px;
    h1 {
      letter-spacing: 0.15em;
      color: $color-white;
      span {
        color: $color-blue;
      }
    }
  }
  &__right {
    padding: 0 20px;
    line-height: 32px;
    text-align: right;
    &__user-menu li {
      font-family: $font-gothic;
      font-size: 14px;
      display: inline-block;
      border-left: 1px $color-white solid;
      padding: 0 10px;
    }
  }
}

.main {
  width: 100%;
  height: 500px;
  .main-wrapper {
    background-image: url('top01-min.jpg');
    background-size: cover;
    opacity: 0.8;
    height: 100%;
    position: relative;
    &__text {
      writing-mode: vertical-rl;
      letter-spacing: 0.15em;
      text-shadow: 2px 2px 2px #ffffff;
      font-weight: bold;
      font-size: 20px;
      color: #000000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    &__search {
      display: inline-block;
      width: 660px;
      height: 80px;
      background-color: $color-white;
      border: 1px solid gray;
      position: absolute;
      bottom: -55px;
      padding: 20px;
      line-height: 80px;
      left: 50%;
      transform: translate(-50%,-0%);
      &__content {
        font-size: 18px;
        width: 108px;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
      }
      &__input-box {
        border-radius: 3px;
        width: calc(100%-108px);
        display: flex;
        ::placeholder {
          color: #999999;
          font-size: 14px;
          padding: 0 8px;
        }
        .input-form {
          border: solid 1px gray;
          border-radius: 3px;
          height: 42px;
          width: 440px;
          padding: 0 8px;
        }
        .search-btn {
          font-size: 18px;
          font-family: $font-gothic;
          color: $color-white;
          border: none;
          border-radius: 3px;
          background-color: $color-red;
          padding: 8px 20px;
          margin-left: 10px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .container {
    padding: 88px 10px 10px 30px;
    &__area-search {
      font-size: 22px;
    }
  }
}