// 全体デザインに関わるものの定義
$color-black: #434343;
$color-red: #cb1b45;
$color-blue: #a5dee4;
$color-white: #FCFCFC;

* {
  font-family: 'Avenir','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','Calibri',sans-serif;
}