.header
  .header__left
    = link_to root_path do 
      %h1 Sakemo<span>!</span>
  .header__right 
    .header__right__user-menu    
      %ul
        %li 新規登録
        %li ログイン
.main
  .main-wrapper
    .main-wrapper__text もう一度呑みたいお酒
    .main-wrapper__search 
      .main-wrapper__search__content 
        %h2 銘柄で探す
      .main-wrapper__search__input-box
        = form_tag(root_path, method: :get) do
          = text_field_tag :search, params[:search], class: "input-form", placeholder: "[例：八海山]"
          = submit_tag '検索', name: nil, class: "search-btn"
  .container
    %h2.container__area-search 地域で探す
%footer